.container {
    z-index: -1;
    min-height: 100vh;
    background-image: url('../img/imagen.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #074f57;
    background-attachment: fixed;
    background-blend-mode: multiply;




}



.containerHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 60px;
    font-style: italic;
    margin-left: 200px;
    min-height: 100vh;
}

.containerInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

}

.location {
    font-size: 30px;
}

.btnDiv {


    cursor: pointer;

}




@media(max-width: 875px) {
    .container {
       
        z-index: none;
        background-image: url('../img/imagen.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #074f57;
        background-attachment: fixed;
        background-blend-mode: multiply;
       
       

    }




    .containerHome {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 60px;
        font-style: italic;
        margin-left: 0;
        min-height: 90vh;
       

    }

    .containerInfo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
        gap: 10px;
        width: 100%;
        font-size: 30px;
    }

    .location{
        font-size: 25px;
    }
}