.container {
    min-height: 100vh;
    background-color: rgb(77, 75, 75);
    color: white;
  
    


}

.containerSkills {
    gap: 30px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 255px;
    max-width: 1280px;
    padding-top: 30vh;
    



}


.Skills {

    width: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;



}


.infoSkills {
    width: 350px;
}

@media(max-width: 875px) {
    .container {
        position: absolute;
        left: 0;
        
   
        

    }

    .containerSkills {
        
        margin-left: 0px;
   
        
    
    
    
    }




}