.container {
    min-height: 100vh;
    background-color: rgb(77, 75, 75);
    color: white;display: flex;
    justify-content: center;
    align-items: center;


}

.containerSkills {
    gap: 30px;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    flex-wrap: wrap;
    min-width: 255px;
    max-width: 1280px;
   
    



}


.Skills {

    width: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;



}




@media(max-width: 875px) {
   

    .containerSkills {
        
        gap: 30px;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        flex-wrap: wrap;
        min-width: 255px;
        max-width: 1280px;
   
        
    
    
    
    }




}